<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace绑定一个对应的Mapper接口 -->
<mapper namespace="com.wzy.dao.UserMapper">

    <!-- 插入操作 -->
    <insert id="insertUser1">
      insert into day4801 values(#{id}, #{username}, #{password}, #{age}, #{gender})
    </insert>

    <insert id="insertUser2">
      insert into day4801 values(#{uu.id}, #{uu.username}, #{uu.password}, #{uu.age}, #{uu.gender})
    </insert>

    <insert id="insertUser3">
      insert into day4801(username, password, age, gender) values(#{arg0}, #{arg1}, #{arg2}, #{arg3})
    </insert>

    <insert id="insertUser4" parameterType="map">
      insert into day4801(username, password, age, gender) values(#{name}, #{pwd}, #{age}, #{gender})
    </insert>


    <!-- 查询操作 -->
    <select id="queryUser1" resultType="com.wzy.pojo.User">
        select * from day4801 where id = #{uid}
    </select>

    <select id="queryUser2" resultType="com.wzy.pojo.User">
        select * from day4801 where id = #{uuid}
    </select>

    <select id="queryUser3" resultType="com.wzy.pojo.User">
        select * from day4801 where id = #{arg0} or username like #{arg1}
    </select>

    <select id="queryUser4" resultType="com.wzy.pojo.User">
        select * from day4801 where id = #{uuid} or username like #{uuname}
    </select>


</mapper>